{% extends 'base.html' %}

{% block head %}
<script type=text/javascript src="{{url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}
<body>
<div class="sidebar">
    <a href="">Home</a>
    <a href="">Random Prompt</a>
    <a href="">Newest Prompt</a>
    <a href="">All Prompts</a>
    <a href="">Achievements</a>
    <a href="">Leaderboards</a>
</div>

<div class="pageContent">
    <div class="banner"><h3>Welcome to Wikipedia Speedruns!</h3>
    </div>
    
    <div id="instructions">
        <p>Goal of this game is simple. Try to get to one wikipedia page to another as fast as possible by clicking on the links in the page. </p>
    <p>A few simple rules apply:<br>
        <ul>
            <li>Any link shown on the page is fair game.</li>
            <li>DO NOT use word search or find on your browser!</li>
            <li>Live with your mistakes. Don't even bother trying the back page button, you will just be forced to restart.</li>
            <li>Luck is king, so put on your lucky hat and lucky socks!</li>
        </ul>
    </p>
    </div>

    <!-- <div id="prompt_container_1">
        <div id="latest_prompt" class="prompt_box">
            <a href="/latest">
            <p>Click here to try the latest prompt, starts immediately after click!</p>
            </a>
        </div>
        <div id="random_prompt" class="prompt_box">
            <a href="/random">
            <p>Click here to try a random prompt, starts immediately after click!</p>
            </a>
        </div>
    </div>
    
    <div id="prompt_container_2">
        <p>Here are links to all available prompts:</p>
        <table id="prompts">
        </table>
    </div> -->

    <p>Created by <a href="https://danqian.net">Daniel Qian</a> and <a href="https://mliu59.github.io/">Miles Liu</a></p>
</div>
</body>
{% endblock %}
